body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  background-image: url(../images/scuffed-black-texture_dark.jpg);
}

.top-container {
  background-size: cover;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  text-align: center;
  height: 100vh; /* 100% высоты видимого экрана */
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}
#startText {
  color: white;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
#name {
  color: rgb(255, 0, 0);
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
.text-begin {
  justify-content: center;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
}
#startText {
  color: white;
  font-size: 40px;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}
.footer {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

.content {
  overflow: auto;
  background-color: #000000;
  color: white;
  padding: 16px;
  margin-bottom: 102px;
  display: flex;
  flex-direction: column;
}

#projList {
  display: flex;
  flex-direction: row;
}

.stick {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.stick + .content {
    padding-bottom: 102px;
  }
.sticky + .content {
  padding-top: 102px;
}
.top-container img {
    max-height: 60%; /* Устанавливает максимальную ширину изображения равной ширине контейнера */
    width: auto; /* Позволяет изображению подстраиваться под изменение ширины */
    display: block; /* Убирает пробелы вокруг изображения */
    margin: 0 auto; /* Центрирует изображение внутри родительского контейнера */
  }

#scrollButton {
margin-top: 10%;
align-self: center;
background-color: #f2ff00; /* Зеленый цвет фона */
width: 100px;
height: auto;
color: rgb(0, 0, 0); /* Белый цвет текста */
padding: 10px 20px; /* Отступы внутри кнопки */
font-size: 16px; /* Размер шрифта */
border: none; /* Убираем границу */
cursor: pointer; /* Курсор при наведении */
border-radius: 5px; /* Закругленные углы */
transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
}

#scrollButton:hover {
background-color: #b15d0d; /* Темнозеленый цвет фона при наведении */
}

#languageButton {
  position: absolute; /* Абсолютное позиционирование */
  top: 3%; /* Отступ сверху */
  right: 3%; /* Отступ справа */
  background-color: #5858582b; 
  width: auto;
  height: auto;
  color: rgb(0, 0, 0); 
  padding: 10px 20px; 
  font-size: 16px; 
  border: none; 
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease;
}

          
.languageButton,
.languageButton:after {
  /* align-self: flex-end;  */
  width: auto;
  height: auto;
  line-height: auto;
  font-size: 10px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #ffc001 5%);
  border: 0;
  color: #000000;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.languageButton:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #f80d05, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.languageButton:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}



#headProjects {
  color: white;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}


/* Стили для модальных окон */
.modal {
  display: none; /* Скрыть модальные окна по умолчанию */
 /*  z-index: 1000; */
  /*position: fixed;*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#modal1, #modal2 {
  color: black;
}
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
#modalText {
  color: black;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.block {
  background-color: white;
  width: 45%; /* Устанавливаем ширину блока */
  float:inherit; /* Выравниваем блоки по левому краю */
  margin: 2.5%; /* Добавляем немного отступов между блоками */
  box-sizing: border-box; /* Учитываем границы и поля внутри блока */
}

/* Медиа-запрос для маленьких экранов */
@media (max-width: 768px) {
  .top-container {
      padding: 10px; /* Уменьшаем внешний отступ */
      flex-direction: column;
  }

  .text-begin {
      margin-left: 0; /* Убираем отступ с левой стороны */
  }

  #projList {
    flex-direction: column;
  }
  .block {
/*     width: 100%;
 */  }

  .languageButton,
  .languageButton:after {
      margin-right: 10%;
  }
}